:root {
    --color: black;
    --background: white;
  }
  
  /* layout */
  /* * {
    padding: 0;
    margin: 10;
    box-sizing: border-box;
  } */

  body {
    font-family: "Arial", monospace;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 10px;
  }
  
  .App {
    color: black;
    background-color: white;
    min-height: 100vh;
  }  

  .SearchBar {
    position: relative; 
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/pexels-pixabay-258045.jpeg") no-repeat;
    background-size: 100%;
    margin-bottom: 0;
  }

  .search-bar {
    margin-top: -70px;
    position: relative;
  }

  .search-bar h1 {
    color: rgb(242, 247, 240);
    text-align: center;
    font-weight: 800;
    font-size: 48px;
  }


  .search-input {
    border-radius: 25px;
    border: rgb(190, 188, 188);
    padding: 15px;
    width: 500px;
    box-shadow: .5px .5px 5px .5px;
  }

  .search-submit{
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -4.5rem;
    background: none;
    border: none;
    outline: none;
  }

  .about-section {
    padding-top: 50px;
    width: 100%;
    padding: auto;
    display: flex;
    justify-content: center;
  }

  .about-section h3 {
    color: green;
    font-weight: 800;
    font-size: 26px;
  }

  .about-signup {
    width: 280px;
    text-align: center;
    margin-right: 100px;
  }

  .about-signup img {
    width: 50px;
    margin: 20px;
  }

  .about-confidence {
    width: 280px;
    height: 200px;
    text-align: center;
  }

  .about-confidence img{
    width: 50px;
    margin: 20px;
  }

  .examples-box {
    margin-top: 100px;
    padding: 20px;
  }

  #examples {
    display: flex;
  }


  #examples img {
    width: 286px;
    height: 200px;
  }

  .hovereffect:hover {
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
  }

  .newTrail-form {
    position: relative;
    display: flex;
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1608139446491-2910a9abf308?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    color: white;
  }


  .newTrail-form h2 {
    padding: 10px;
  }

/* 
details page */

.details-page{
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
 
.details-page p {
  font-weight: 300;
}

.details-page img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.details-title{
  text-align: center;
  font-weight: 500
}

.specs {
  display: flex;
  justify-content: center;
  text-align: center;
}

.specs p {
  padding: 20px;

}

.addComment{
  width: 400px;
}

.comment-container {
  margin-top: 50px;
}






  /** nav bar */

  /* .navbar {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
   */
  /* center */
  
  .navbar .center {
    position: relative;
    /*  width: 100%; */
    text-align: center;
    float: none;
    /*  height: 100px; */
    /*  margin-top: auto; */
  }
  
  /*
    margin-top: 1.33em;
  }*/
  
  .navbar .center a,
  img {
    color: black;
    text-decoration: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
  }
  
  .navbar .center a:hover,
  img:hover {
    opacity: .5;
  }
  
  
  /* left */
  
  .navbar ul {
    list-style: none;
    line-height: 1.85714286em;
    position: relative;
  }
  
  .navbar .left a {
    float: left;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar li {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
  }
  
  .navbar li:not(:hover):not(.active) {
    opacity: .5;
  }
  
  
  /* right */
  .navbar .right a {
    margin-left: 16px;
    float: right;
  }
  
  .navbar > .container {
    display: flex;
    align-items: center;
  }
  
  .navbar > .container > div {
    flex: 1 0 0;
  }
  
  .navbar .left {
    order: -1;
  }

  .logo {
    height:  50%;
    width: 50%;
  }


.examples-box{
  background-color: rgb(236, 236, 236);
}


#examples{
	display: flex;
	overflow-x: auto;
	padding: 0;
	margin: 0 50px;
	padding-bottom: 50px;

	overflow-y: scroll;
	height: 400px;
	scrollbar-width: thin;
	scrollbar-color: #898681 transparent;
}

.rec-title{
  padding-top: 20px;
  margin-left: 50px;
  font-size: 26px;
  font-weight: 500;
  color: #343434;
}

  .rec-card {
    padding-top: 20px;
    width: 300px;
  }

  .rec-card img {
    border-radius: 20px;
  }

  .rec-card img:hover{
    background-color: red;
    opacity: 0.7;
    cursor: pointer;
  }

  .rec-card p {
    padding: 0px;
    margin-bottom: 2px;
    color: #707070;
    font-size: 14px;
  }

  .rec-card h3 {
    padding-top: 10px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }


  .rec-card span {
    color: darkgreen;
    font-weight: 600;
    height: 30%;
    width: 30%;
  }


  .logotext {
      color: green;
      font-weight: 800;
      font-size: 26px;
  }